In [1]:
import pandas as pd
import numpy as np

In [2]:
#Path for directory:
path= "C:\\Users\\Marc\\Desktop\\olx_mindsets"
#Loading train data
train_data=pd.read_csv(path+"\\mindsets\\cleaned_train.csv")
#Loading test data
test_data= pd.read_csv(path+"\\mindsets\\test.csv")

In [3]:
train_data.head()

,id,Age at creation,Middle,kilometers,created_at_first,city,region,year,body_type,transmission_type,brand,model,price
0,65537,10.0,14999.5,10000 to 19999,11/11/2017,Other in Nabatieh,Nabatieh,2007.0,NaN,Steptronic,blackhawk,D,13700.0
1,65538,14.0,164999.5,160000 to 169999,10/4/2017,Other in West-Bekaa,West Bekaa,2003.0,NaN,Steptronic,hamilton,AL,10200.0
2,65539,10.0,54999.5,50000 to 59999,6/26/2018,Aaoukar,Metn,2008.0,Convertible Hard Top,Automatic,blackhawk,C,10400.0
3,65540,9.0,84999.5,80000 to 89999,2/3/2018,Other in Nabatieh,Nabatieh,2009.0,NaN,Automatic,hamilton,U,10700.0
4,65541,18.0,184999.5,180000 to 189999,3/12/2019,Jounieh,Keserouan,2001.0,SUV,Automatic,dewitt,B,8500.0

In [4]:
test_data.head()

,id,created_at_first,city,region,year,body_type,transmission_type,kilometers,brand,model
0,766960,8/17/2018,Verdun,Beirut,1998,Coupe,Automatic,10000 to 19999,mania spyder,AA
1,766961,5/3/2019,Ghobeiry,Beirut,2008,SUV,Automatic,160000 to 169999,gaeth,H
2,766962,11/19/2018,Other in Akkar,Akkar,2010,Sedan,Steptronic,0 to 9999,hamilton,K
3,766963,10/24/2018,Rmeileh,Chouf,1988,Sedan,Automatic,10000 to 19999,scuderia,H
4,766964,4/2/2019,Ballouneh,Keserouan,1989,SUV,Manual,100000 to 109999,dewitt,J

In [5]:
train_data.describe()

,id,Age at creation,Middle,year,price
count,766959.00000,761563.000000,729890.000000,761563.000000,7.669350e+05
mean,383480.00000,16.295181,64618.949506,2001.634414,4.731167e+05
std,221402.13689,9.786740,55960.645482,9.786806,1.659709e+08
min,1.00000,-2.000000,4999.500000,1920.000000,0.000000e+00
25%,191740.50000,9.000000,14999.500000,1996.000000,3.400000e+03
50%,383480.00000,15.000000,54999.500000,2003.000000,6.200000e+03
75%,575219.50000,22.000000,104999.500000,2009.000000,1.090000e+04
max,766959.00000,99.000000,194999.500000,2019.000000,9.875140e+10

In [6]:
available_values=train_data.count()
train_data.count()

id                   766959
Age at creation      761563
Middle               729890
kilometers           761689
created_at_first     766959
city                 760939
region               766959
year                 761563
body_type            401378
transmission_type    761689
brand                750949
model                750949
price                766935
dtype: int64

In [7]:
nsamples=train_data.shape[0]
missing_data=nsamples-available_values
print(f"\nmissing values  \n{missing_data}")
missing_percentage=missing_data/nsamples
print(f"\nmissing values % \n{missing_percentage}")

missing values
id                        0
Age at creation        5396
Middle                37069
kilometers             5270
created_at_first          0
city                   6020
region                    0
year                   5396
body_type            365581
transmission_type      5270
brand                 16010
model                 16010
price                    24
dtype: int64

missing values %
id                   0.000000
Age at creation      0.007036
Middle               0.048332
kilometers           0.006871
created_at_first     0.000000
city                 0.007849
region               0.000000
year                 0.007036
body_type            0.476663
transmission_type    0.006871
brand                0.020875
model                0.020875
price                0.000031
dtype: float64

# Data Preprocessing:

### Categorical variables:

In [8]:
categorical_columns= ["city", "region", "body_type", "transmission_type", "brand", "model"]
noncontinuous_data=train_data[categorical_columns]
#Here we can replace the dummies NA values with -9999 because this will create a "class" after one-hot-encoding
noncontinuous_data.fillna(-9999, inplace=True)

C:\Users\Marc\Anaconda3\lib\site-packages\pandas\core\frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [9]:
dummy_columns = pd.get_dummies(noncontinuous_data)

In [10]:
dummy_columns.head(10)

,city_-9999,city_Aabra,city_Aachqout,city_Aadloun,city_Aaitat,city_Aalma El Chaeb,city_Aamchit,city_Aannaya,city_Aaoukar,city_Aaraiya,...,model_Q,model_R,model_S,model_T,model_U,model_V,model_W,model_X,model_Y,model_Z
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
dummy_columns.shape[1]

475

### Continuous Data:

In [12]:
continuous_columns = ["year","Age at creation", "Middle"]
continuous_data = train_data[continuous_columns]

In [13]:
continuous_data.fillna(continuous_data.mean(), inplace=True)
print(continuous_data.head())

     year  Age at creation    Middle
0  2007.0             10.0   14999.5
1  2003.0             14.0  164999.5
2  2008.0             10.0   54999.5
3  2009.0              9.0   84999.5
4  2001.0             18.0  184999.5

C:\Users\Marc\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [14]:
labels=train_data.price

In [15]:
labels.shape

(766959,)

In [16]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
scaler_continuous=MinMaxScaler(feature_range = (0,1))
scaler_label=RobustScaler()

continuous_data_scaled=scaler_continuous.fit_transform(continuous_data)
labels_scaled=scaler_label.fit_transform(np.asarray(labels).reshape(-1,1))

In [17]:
labels_scaled

array([[ 1.        ],
       [ 0.53333333],
       [ 0.56      ],
       ...,
       [ 0.32      ],
       [-0.12      ],
       [ 0.98666667]])

In [18]:
continuous_data_scaled.shape

(766959, 3)

In [19]:
continuous_data_scaled_df=pd.DataFrame(continuous_data_scaled)

In [20]:
continuous_data_scaled_df.head()

          0         1         2
0  0.878788  0.118812  0.052632
1  0.838384  0.158416  0.842105
2  0.888889  0.118812  0.263158
3  0.898990  0.108911  0.421053
4  0.818182  0.198020  0.947368

In [21]:
processed_data = pd.concat([continuous_data_scaled_df, dummy_columns], axis=1)
processed_data.head()

,0,1,2,city_-9999,city_Aabra,city_Aachqout,city_Aadloun,city_Aaitat,city_Aalma El Chaeb,city_Aamchit,...,model_Q,model_R,model_S,model_T,model_U,model_V,model_W,model_X,model_Y,model_Z
0,0.878788,0.118812,0.052632,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.838384,0.158416,0.842105,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.888889,0.118812,0.263158,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.898990,0.108911,0.421053,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0.818182,0.198020,0.947368,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
labels_scaled

array([[ 1.        ],
       [ 0.53333333],
       [ 0.56      ],
       ...,
       [ 0.32      ],
       [-0.12      ],
       [ 0.98666667]])

# Train_test_split

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [24]:
train_features, test_features, train_labels, test_labels = train_test_split(processed_data, labels_scaled, test_size=0.15, shuffle=False)

In [25]:
train_features.shape

(651915, 478)

In [26]:
test_features.shape

(115044, 478)

In [27]:
train_labels.shape

(651915, 1)

In [28]:
test_labels.shape

(115044, 1)

# Modeling:

### Neural Networks:

In [29]:
n_features= train_features.shape[1]

In [30]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Activation

Using TensorFlow backend.

In [31]:
model = Sequential()
model.add(Dense(n_features, input_dim=n_features))
model.add(Activation('relu'))
#model.add(Dense(100))
#model.add(Activation('relu'))
#model.add(Dense(50))
#model.add(Activation('relu'))
model.add(Dense(10))
model.add(Activation('relu'))
model.add(Dense(1))
model.add(Activation('linear'))

WARNING:tensorflow:From C:\Users\Marc\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [32]:
from keras import optimizers

model.compile(optimizer = "adam", loss = 'mean_squared_error')

In [33]:
train_labels

array([[ 1.        ],
       [ 0.53333333],
       [ 0.56      ],
       ...,
       [-0.62666667],
       [-0.52      ],
       [-0.62666667]])

In [34]:
history=model.fit(train_features,
                  train_labels,
                  epochs=5,
                 batch_size=64,
                 shuffle=True,
                 validation_data=(
                     test_features,
                   test_labels))

WARNING:tensorflow:From C:\Users\Marc\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 651915 samples, validate on 115044 samples
Epoch 1/5
205952/651915 [========>.....................] - ETA: 38s - loss: nan

KeyboardInterrupt:

In [ ]:
import matplotlib.pyplot as plt

loss = history.history['loss']
val_loss = history.history['val_loss']
epochs = range(1, len(loss) + 1)
# "bo" is for "blue dot"

plt.plot(epochs[:], loss[:], 'bo', label='Training loss')
# b is for "solid blue line"
plt.plot(epochs[:], val_loss[:], 'b', label='Validation loss')
plt.title('Training and validation loss')
plt.xlabel('Epochs')
plt.ylabel('Loss')
plt.legend()
plt.show()

In [ ]:
plt.figure(figsize=(10, 7))

resid = test_labels - model.predict(test_features.astype('int'))


plt.axhline(y=0, linestyle='-', linewidth=2, color="r")
plt.scatter(x=xgb_predict, y=resid, alpha=0.5, s=3)


plt.title("Residual plot")
plt.ylabel(r"Y-$\hat Y$")
plt.xlabel(r'$\hat Y$')
plt.tight_layout()
plt.show()

# Boosting:

In [35]:
import xgboost as xgb

In [ ]:
xgb_model_p = xgb.XGBRegressor(max_depth=6, verbosity=3, eval_metric="rmse")
xgb_model_p.fit(train_features,
                  train_labels)

[15:36:39] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:36:53] INFO: C:\Jenkins\workspace\xgboost-win64_release_0.90\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[15:37:00] INFO: C:\Jenkins\workspace\xgboost-win64_release_0.90\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[15:37:05] INFO: C:\Jenkins\workspace\xgboost-win64_release_0.90\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[15:37:12] INFO: C:\Jenkins\workspace\xgboost-win64_release_0.90\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[15:37:18] INFO: C:\Jenkins\workspace\xgboost-win64_release_0.90\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[15:37:24] INFO: C:\Jenkins\workspace\xgboost-win64_release_0.90\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[15:37:31] INFO: C:\Jenkins\workspace\xgboost-win64_release_0.90\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0

In [43]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10, 7))
xgb_predict=xgb_model_p.predict(test_features.astype('int'))
resid = test_labels - xgb_predict


plt.axhline(y=0, linestyle='-', linewidth=2, color="r")
plt.scatter(x=xgb_predict, y=resid, alpha=0.5, s=3)


plt.title("Residual plot")
plt.ylabel(r"Y-$\hat Y$")
plt.xlabel(r'$\hat Y$')
plt.tight_layout()
plt.show()

MemoryError: